body{
    padding: 0;
    margin: 0;
    background: salmon;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2rem;
    color: aliceblue;
}
.section{
    text-align: center;
}
.btn{
    font-size: 5rem;
    border: none;
    background: rgba(255,255,255,.2);
    border-radius: 5px;
    padding: 15px;
    filter: grayscale();
    transform: fliter .2s ease-in-out; 
    cursor: pointer;

}
.btn:hover{
    filter: grayscale(0);
}
.emoji-name{
    font-weight: 600;
    color: darkblue;
}